{% extends 'maintemplate.twig' %} 

{% block main_content %}
 
<div>
Hi {{ name }}!<br>
Your id: {{ id }}<br>
</div>

<div>
{% for user in users %}
{% for key, value in user %}
<b>{{ key }}</b>: <span>{{ value }}</span><br>
{% endfor %}
{% else %}
<p>No values</p>
{% endfor %}
</div>


{% endblock %}